/*-- Import Fonts --*/
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    /* -- COLORES --*/
    --verde: rgb(108, 191, 69);
    --gris-primary: rgb(92, 87, 81);
    --gris-leve: rgb(57, 53, 51);
    --gris-suave: rgb(203, 201, 197);
    --gris-claro: rgb(230, 230, 229);

    /*-- FONTS --*/
    --ff-style: 'Play', sans-serif;
    --ff-primary: 'Arial, sans-serif';
  }
  
  body {
    font-family: var(--ff-primary);

    background-color: black;
    background-image: url('imagenes/fondo-a&v.webp');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
  }
  
  /*-- Menu Responsive (Logo, Nombre y Menu) --*/
  
  nav {
    background: transparent;
    backdrop-filter: blur(20px);

  }
  
  .navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
  }

  .navbar img {
    width: 70px;
  }
  
  .navbar a {
    text-decoration: none;
    color:var(--verde);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--ff-style);
    text-transform: uppercase;
  }

  .logo {
    width: 40%;
    display: flex;
    justify-content: space-around;
  }
  
  .logo-text {  /*-- Name in navbar --*/
    font-size: 1.8em;
    letter-spacing: 1.3px;
  }
  
  /*-- navbar menu --*/
  .menu {
    list-style: none;
    width: 60%;
    display: flex;
    justify-content: center;
  }
  
  .menu li {
    margin-right: 20px;
  }

  .menu a {
    font-size: 1.2em;
    transition: transform 0.2s;
    letter-spacing: 1.3px;
  }

  .menu a:hover {
    color: var(--gris-suave);
    transform: scale(1.1);
  }
  
  /*-- Hamburger (three line) toggle --*/
  .icon {
    display: none;
    color: var(--gris-primary);
  }

  .icon:hover {
    color: var(--gris-leve);
  }
  

  /*-- sección de intro --*/
  
  .intro-index {
    padding: 30px 20px;
  }
  
  .pop-intro {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.3em;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  }

  .intro-text {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .intro-text h1 {
    font-family: var(--ff-style);
    color: var(--verde);
    font-size: 2.5em;
  }

  .intro-text span {
    font-family: var(--ff-style);
    color: var(--gris-claro);
    font-size: 1.6em;
  }

  .intro-text p {
    font-size: 1.1em;
    color: var(--gris-claro);
    line-height: 1.5;
    letter-spacing: 1.2px;
  }
  .btn-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  .btn-intro a {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    width: 150px;
    background-color: var(--gris-suave);
    box-shadow: 0px 0px 5px var(--gris-leve);
    color: var(--gris-leve);
    text-align: center;
    border-radius: 10px;
    padding: 10px;
  }

  .btn-intro a:hover {
    background-color: var(--verde);
  }

  .pop-intro img {
    width: 40%;
  }
  
/*-- Sección cards servicios --*/

.cards-index {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
    background-color: var(--gris-suave);
    padding: 20px;
}

.cards-index h2 {
  padding: 10px;
  text-align: center;
  font-family: var(--ff-style);
  font-size: 1.4em;
}

.cards-intro {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 1em;
}

.card-servicios {
    background-color: var(--gris-claro);
    box-shadow: 0px 0px 8px var(--gris-leve);
    border-radius: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 20px;
}

.card-servicios img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

.card-servicios .fa {
  font-size: 2.2em;
  color: var(--verde);
}

.card-box a {
  text-decoration: none;
  color: var(--gris-primary);

}

.card-box a:hover {
  color: var(--gris-leve);
}
  
  /*-- Sección soluciones --*/
  
  .box-soluciones {
    display: flex;
    flex-direction: row;
    margin: 30px 60px;
    padding: 20px;
    background-color: var(--gris-claro);
    box-shadow: 0px 0px 8px var(--gris-leve);
    height: 300px;
    border-radius: 10px;
    gap: 20px;
  }

  .box-soluciones img {
    width: 45%;
    object-fit: cover;
  }

  .box-text {
    width: 50%;
  }

  .box-text h3 {
    padding-bottom: 15px;
    font-size: 1.4em;
    font-family: var(--ff-style);
  }

  .box-text p {
    font-size: 1.1em;
    line-height: 1.4;
  }

  .box-text a {
    text-decoration: none;
    color: var(--gris-primary);
  }

  .box-text a:hover {
    color: var(--gris-leve);
  }

  /*-- sección Plataformas --*/

  .plataformas-intro {
    background-color: var(--gris-suave);
    padding: 30px 60px;
  }

  .plataformas-intro h3 {
    text-align: center;
    font-family: var(--ff-style);
    font-size: 1.7em;
  }

  .box-plataformas {
    display: flex;
    gap: 1em;
    justify-content: space-around;
    align-items: center;
  }

  .linea-plataforma {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 25px;
  }

  .lp-1 {
    width: 50%;
  }

  .linea-plataforma .fab {
    font-size: 5em;
    color: var(--gris-leve);
  }

  .linea-plataforma p {
    font-size: 1.2em;
    letter-spacing: 1.2px;
    line-height: 1.4;
  }

  .linea-plataforma a {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    background-color:var(--gris-primary);

    padding: 10px 30px;
    border-radius: 10px;
    color: var(--gris-claro);
    text-align: center;
    letter-spacing: 1.2px;
    font-weight: bold;
    font-size: 1.2em;
  }

  .linea-plataforma a:hover {
    background-color: var(--gris-leve);
    color: var(--verde); 
  }
  
  /*-- Footer --*/
  
  footer {
    color: var(--gris-claro);
    padding: 20px;

    background-color: black;
    background-image: url('imagenes/fondo-navbar.webp');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
  }
  
  .footer-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .info {
    margin: 20px;
  }

  .info h3 {
    font-size: 1.3em;
    padding-bottom: 10px;
    color: var(--verde);
  }
  .info a {
    display: flex;
    font-size: 1.2em;
    line-height: 1.6;
    text-decoration: none;
    color: var(--gris-claro);
  }

  .info p {
    display: flex;
    font-size: 1.2em;
    line-height: 1.6;
    text-decoration: none;
    color: var(--gris-claro);
  }
  
  .logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
  .logo-footer img {
    width: 120px;
  }
  
  .social-links {
    display: flex;
    gap: 1.2em;
    justify-content: space-around;
    align-items: center;
  }
  
  .social-links i {
    color: var(--gris-suave);
    font-size: 2em;
  }

  .social-links i:hover {
    color: var(--verde);
  }
  
  .copy {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }

  .copy a {
    color: var(--gris-claro);
    text-decoration: none;
  }

  .copy a:hover {
    color: var(--verde);
  }
  
  /*-- Pagina Diseño Web --*/

  .intro-dw {
    background-color: var(--gris-claro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .intro-dw img {
    background-color: var(--gris-leve);
    width: 100%;
    height: 25vw;
    object-fit: cover;
  }

  .pop-dw {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    gap: 1em;
  }

  .pop-dw h1 {
    width: 40%;
    text-align: center;
    font-size: 2em;
  }
  
  .pop-dw p {
    width: 60%;
    font-size: 1.1em;
    letter-spacing: 1.2px;
    line-height: 1.3;
  }

  /*-- Sección DW --*/

  .container-dw {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: var(--gris-leve);
  }

  .container-dw h2 {
    text-align: center;
    color: var(--verde);
    font-size: 2em;
    padding-bottom: 1em;
  }

  .cards-dw {
    padding: 20px;
    
  }

  .box-dw {
    display: flex;
    gap: 1em;
    margin: 0px 0px 30px;
    padding: 20px;
    background-color: var(--gris-claro);
    border-radius: 10px;
  }

  .box-dw img {
    width: 60%;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
  }

  .dw {
    padding: 10px;
    width: 80%;
  }

  .dw h3 {
    text-align: center;
    font-size: 1.8em;
  }

  .dw p {
    padding: 20px 0px;
  }

  .dw ul {
    list-style: none;
    line-height: 1.7;
  }

  .precios-dw {
    padding: 20px 0px;
    text-align: center;
    line-height: 2.5;
  }

  .precios-dw a {
    text-decoration: none;
    background-color: var(--gris-primary);
    color: var(--gris-claro);
    padding: 12px 70px;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 1.2px;
  }

  .precios-dw a:hover {
    background-color: var(--gris-leve);
    color: var(--verde);
  }

  /*-- Seccion Beneficios/webdesign page --*/

  .beneficios {
    padding: 50px 30px 80px;
    background-color: var(--gris-leve);
    background-image: url("imagenes/ox6PM7.tif.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    object-fit: cover;
  }

  .box-beneficios h3 {
    text-align: left;
    padding: 10px 70px 50px;
    font-size: 3em;
    color: var(--verde);
  }

  .beneficios-container {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
  }

  .cards-bn {
    display: flex;
    flex-direction: column;
    gap: 4em;
  }

  .beneficios-img {
    width: 450px;
  }

  .beneficios-img img {
    width: 100%;
    object-fit: cover;
    opacity: .2;
  }
  .bene-card {
    background-color: var(--gris-claro);
    box-shadow: 0px 0px 8px var(--gris-leve);
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    height: 120px;
  }

  .bene-card h4 {
    text-align: center;
    padding-bottom: 10px;
  }

  /*-- Página de Servicios --*/

  .intro-servicios {
    background-color: var(--gris-suave);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: 33vw;
  }

.card-serv {
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5em;
  text-align: center;
}

.cards-serv {
  background-color: var(--verde);
  box-shadow: 0px 0px 8px var(--gris-leve);
  border-radius: 10px;
  padding: 15px;

  width: 300px;
}

.cards-serv h2 {
  padding-bottom: 15px;
}

.cards-serv p {
  padding-bottom: 15px;
}

.cards-serv i {
  font-size: 1.6em;
}

.img-servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-servicios img {
  width: 200px;
  padding: 50px 20px;
}

.serv-card-img {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.serv-card-img p {
  width: 250px;
}

/*-- Carrusel --*/
.servicios-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 10px 20px 50px;
  background-color: var(--gris-claro);
}

.servicios-bottom h4 {
  font-size: 1.2em;
  text-align: center;
}

.carousel {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 2em;
}

.carousel i {
  font-size: 3em;
  color: var(--verde);
}

  /*-- Pagina de Contacto --*/
  
  .contacto-intro {
    background-color: var(--gris-primary);
    padding: 30px 80px 50px;
  }

  .contacto-intro h1 {
    color: var(--verde);
    text-align: center;
    padding: 50px 0px 30px;
    font-size: 2.5em;
  }
  .contacto-box {
    background-color: var(--gris-claro);
    box-shadow: 0px 0px 12px var(--gris-leve);
    border-radius: 10px;
    display: flex;
    padding: 20px;
  }

  .contacto-info {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: center;
  }

  .contacto-info p {
    text-align: center;
    font-size: 1.1em;
    width: 90%;
  }

  .contacto-info ul {
    list-style-type: none;
    line-height: 1.8;
  }

.map iframe {
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--gris-leve);
}

    /*-- formulario cotizar --*/

.form-cotizar {
  background-color: var(--gris-leve);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px;
}

.form-cotizar h2 {
  padding-bottom: 30px;
  color: var(--verde);
  letter-spacing: 1.4px;
}

.form-cotizar form {
  background-color: var(--gris-suave);
  padding: 20px;
  border-radius: 10px;
  width: 350px;
}

.ingrese {
  margin-top: 5px;
  width: 300px;
  padding: 2px;
}

textarea {
  width: 300px;
}

.btn-form {
  padding: 10px 50px;
  background-color: var(--gris-primary);
  color: var(--gris-claro);
  font-size: 1em;
}

.btn-form:hover {
  background-color: var(--gris-leve);
  color: var(--verde);
}

  /*-- MEDIA QUERIES --*/
  
  @media screen and (max-width: 768px) {
    .menu {
        display: none;
    }
  
    .icon {
        display: block;
        cursor: pointer;
        font-size: 1.3em;
    }
  
    .menu.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        z-index: 1;
    }
  
    .menu.active li {
        margin: 10px 0;
        text-align: center;
    }
  }
