* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --verde: #6cbd45;
    --gris-primary: #5b5651;
    --gris-leve: rgb(57, 53, 51);
    --gris-suave: rgb(203, 201, 197);
    --gris-claro: rgb(230, 230, 229);
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  /*-- Menu Responsive (Logo, Nombre y Menu) --*/
  
  nav {
    background: var(--gris-leve);
    background: radial-gradient(circle, rgba(230, 230, 229, 1) 100%, rgba(203, 201, 197, 3) 100%);
  }
  
  .navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
  }

  .navbar img {
    width: 70px;
  }
  
  .navbar a {
    text-decoration: none;
    color:var(--gris-primary);
    display: flex;
    align-items: center;
    font-size: 1.4rem;
  }
  
  .logo-text {
    margin-left: 10px;
  }
  
  .menu {
    list-style: none;
    display: flex;
  }
  
  .menu li {
    margin-right: 20px;
  }

  .menu a {
    font-size: 1.1em;
    transition: transform 0.2s;
  }

  .menu a:hover {
    color: var(--gris-leve);
    transform: scale(1.1);
  }
  
  .icon {
    display: none;
    color: var(--gris-primary);
  }

  .icon:hover {
    color: var(--gris-leve);
  }
  
  /*-- sección de intro --*/
  
  .intro-index {
    padding: 40px 20px;
  }
  
  .pop-intro {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.3em;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  }

  .intro-text {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .btn-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  .btn-intro a {
    text-decoration: none;
    font-size: 1.1em;
    width: 150px;
    background-color: var(--gris-claro);
    color: var(--gris-primary);
    text-align: center;
    border-radius: 10px;
    padding: 10px;
  }

  .btn-intro a:hover {
    background-color: var(--gris-suave);
  }

  .pop-intro img {
    width: 45%;
    background-color: var(--gris-primary);
    height: 300px;
  }
  
/*-- Sección cards servicios --*/

.cards-index {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
    background-color: var(--gris-suave);
    padding: 20px;
}

.cards-index h2 {
  padding: 10px;
  text-align: center;
}

.cards-intro {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 1em;
}

.card-servicios {
    background-color: var(--gris-claro);
    border-radius: 10px;
    height: 200px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.card-servicios .fa {
  font-size: 2.2em;
  color: var(--verde);
}

.card-box a {
  text-decoration: none;
  color: var(--gris-primary);

}

.card-box a:hover {
  color: var(--gris-leve);
}
  
  /*-- Sección soluciones --*/
  
  .box-soluciones {
    display: flex;
    flex-direction: row;
    margin: 30px 60px;
    padding: 20px;
    background-color: var(--gris-claro);
    height: 200px;
    border-radius: 10px;
    gap: 20px;
  }

  .box-soluciones img {
    width: 45%;
  }

  .box-text h3 {
    padding-bottom: 15px;
  }

  .box-text a {
    text-decoration: none;
    color: var(--gris-primary);
  }

  .box-text a:hover {
    color: var(--gris-leve);
  }

  /*-- sección Plataformas --*/

  .plataformas-intro {
    background-color: var(--gris-suave);
    padding: 30px 60px;
  }

  .plataformas-intro h3 {
    text-align: center;
  }

  .box-plataformas {
    display: flex;
    gap: 1em;
    justify-content: space-around;
    align-items: center;
  }

  .linea-plataforma {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 25px;
  }

  .linea-plataforma .fab {
    font-size: 5em;
    color: var(--gris-leve);
  }

  .linea-plataforma a {
    width: 100%;
    margin-left: auto;
    text-decoration: none;
    background-color:var(--gris-primary);
    padding: 10px 30px;
    border-radius: 10px;
    color: var(--gris-claro);
    text-align: center;
  }

  .linea-plataforma a:hover {
    background-color: var(--gris-leve);
  }
  
  /*-- Footer --*/
  
  footer {
    background-color: var(--gris-leve);
    color: var(--gris-claro);
    padding: 20px;
  }
  
  .footer-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .info {
    margin: 20px;
  }

  .info h3 {
    font-size: 14px;
    padding-bottom: 10px;
  }
  .info h2 {
    font-size: 12px;
    line-height: 1.6;
  }
  
  .logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
  .logo-footer img {
    width: 90px;
  }
  
  .social-links {
    display: flex;
    gap: .6em;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4em;
  }
  
  .social-links i {
    color: var(--gris-suave);
  }

  .social-links i:hover {
    color: var(--verde);
  }
  
  .copy {
    text-align: center;
    font-size: 12px;
  }

  .copy a {
    color: var(--gris-claro);
    text-decoration: none;
  }

  .copy a:hover {
    color: var(--verde);
  }
  
  /*-- Pagina Diseño Web --*/

  .intro-dw {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .intro-dw img {
    background-color: #393968;
    width: 100%;
    height: 50vw;
  }

  .pop-dw {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    gap: 1em;
  }

  .pop-dw h1 {
    width: 40%;
    text-align: center;
  }
  
  .pop-dw p {
    width: 60%;
  }

  /*-- Sección DW --*/

  .container-dw {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #9b9795;
  }

  .container-dw h2 {
    text-align: center;
  }

  .cards-dw {
    padding: 20px;
    
  }

  .box-dw {
    display: flex;
    gap: 1em;
    margin: 0px 0px 30px;
    background-color: rgb(185, 208, 255);
    border-radius: 10px;
  }

  .box-dw img {
    width: 60vw;
    background-color: #393968;
    border-radius: 10px;
  }

  .dw {
    padding: 10px;
    width: 80%;
  }

  .dw h3 {
    text-align: center;
  }

  .dw p {
    padding: 20px 0px;
  }

  .dw ul {
    list-style: none;
    line-height: 1.7;
  }

  .precios-dw {
    padding: 20px 0px;
    text-align: center;
    line-height: 2.5;
  }

  .precios-dw a {
    text-decoration: none;
    background-color: cadetblue;
    color: rgb(228, 227, 227);
    padding: 10px 30px;
    border-radius: 10px;
  }

  /*-- Seccion Beneficios/webdesign page --*/

  .beneficios {
    padding: 20px;
  }

  .box-beneficios {
    
  }

  .box-beneficios h3 {
    text-align: center;
    padding: 10px;
  }

  .beneficios-container {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
  }

  .cards-bn {
    display: flex;
    flex-direction: column;
    gap: 4em;
  }

  .beneficios-img {
    background-color: aquamarine;
    width: 450px;
  }

  .bene-card {
    background-color: #d3d3fc;
    border-radius: 10px;
    padding: 15px;
  }

  .bene-card h4 {
    text-align: center;
    padding-bottom: 10px;
  }

  /*-- Página de Servicios --*/

  .intro-servicios {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }

.card-serv {
  background-color: rgb(204, 204, 223);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-align: center;
}

.img-servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.serv-card-img {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  text-align: center;
}

  /*-- Pagina de Contacto --*/
  
  .contacto-box {
    background-color: #dedede;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 250px;
    gap: 2em;
  }
  
  .correos-contacto {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .correos-contacto h2 {
    font-size: 1.3em;
  }
  
  /*-- MEDIA QUERIES --*/
  
  @media screen and (max-width: 768px) {
    .menu {
        display: none;
    }
  
    .icon {
        display: block;
        cursor: pointer;
        font-size: 1.3em;
    }
  
    .menu.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        z-index: 1;
    }
  
    .menu.active li {
        margin: 10px 0;
        text-align: center;
    }
  }
